
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
.container h1{
	font-size: 10rem;
	background: url("img/bg.jpg");
	background-position: center;
	color: transparent;
	-webkit-background-clip: text;
	/* background-clip: text; */
}

.header{
	text-align: center;
	border: 1px solid green;
}
.footer{
	text-align: center;
	border: 1px solid red;
}